.page-title {
    position: relative;
    padding: 138px 0px 290px 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.centred {
    text-align: center;
}
.page-title .overlay-bg:before {
    position: absolute;
    content: '';
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}
.page-title .overlay-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.page-title .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 1;
}

.page-title .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 1;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.page-title:before {
    position: absolute;
    content: '';
    background: #fff;
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    z-index: 1;
}
.page-title .pattern-layer:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 40%, 100% 0%, 100% 0%, 0% 100%, 0% 0%);
}
.page-title .pattern-layer:before {
    background: #cc5e28;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.page-title .pattern-layer:after {
    position: absolute;
    content: '';
    width: 20%;
    height: 166px;
    right: 0px;
    bottom: -49px;
    clip-path: polygon(0% 0%, 100% 19%, 100% 100%, 175% 100%, 0% 0%);
}
.page-title .pattern-layer:after {
    background: #cc5e28;
}
.page-title .content-box .title {
    position: relative;
    margin-bottom: 11px;
}
.page-title .content-box .title h1 {
    position: relative;
    font-size: 60px;
    line-height: 65px;
    color: #fff;
    font-weight: 900;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width: 767px){
.page-title {
    padding: 70px 0px;
}}
@media only screen and (max-width: 767px){
.page-title {
    margin-bottom: 0px;
}}
@media only screen and (max-width: 1200px){
.page-title {
    margin-bottom: 120px;
    padding: 120px 0px;
}}
@media only screen and (max-width: 1200px){
.page-title:before, .page-title:after, .page-title .pattern-layer {
    display: none;
}}
@media only screen and (max-width: 1200px){
.about-section .image-box {
    margin-right: 0px;
}}
.page-title .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 1;
}
.page-title .content-box .title {
    position: relative;
    margin-bottom: 11px;
}
.page-title .content-box .title h1 {
    position: relative;
    font-size: 60px;
    line-height: 65px;
    color: #fff;
    font-weight: 900;
}
.page-title .content-box .bread-crumb li {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #d9d1ce;
    padding-right: 16px;
    margin-right: 5px;
}

.page-title .pattern-layer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 166px;
    z-index: 1;
}
.page-title .overlay-bg:before {
    position: absolute;
    content: '';
    background: #2d2727;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.7;
}
.page-title:before {
    position: absolute;
    content: '';
    background: #fff;
    width: 50%;
    height: 166px;
    left: 0px;
    bottom: 0px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    z-index: 1;
}
.page-title:after {
    position: absolute;
    content: '';
    background: #fff;
    width: calc(50% + 1px);
    height: 166px;
    right: 0px;
    bottom: 0px;
    clip-path: polygon(0% 0%, 200% 100%, 100% 100%, 0% 100%, 0% 0%);
}


.gallery-page-section {
    padding-bottom: 90px;
}
.gallery-page-section .inner-box {
    margin-bottom: 30px;
}

.gallery-block-one .inner-box {
    position: relative;
    display: block;
    overflow: hidden;
}
.gallery-block-one .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}
.gallery-block-one .inner-box .image-box:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0px;
    top: 0px;
    height: 0%;
    opacity: 0.9;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%, 0% 0%);
    transition: all 500ms ease;
}
.gallery-block-one .inner-box .image-box:before {
    background: #cc5e28;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}
img {
    vertical-align: middle;
    border-style: none;
}
.gallery-block-one .inner-box .image-box .view-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0,0);
    font-size: 60px;
    line-height: 50px;
    color: #fff;
    font-weight: 200;
    z-index: 1;
    transition: all 500ms ease;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
a {
    text-decoration: none;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.gallery-block-one .inner-box .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}
.gallery-block-one .inner-box .image-box img {
    width: 100%;
    transition: all 500ms ease;
}
.gallery-page-section {
    padding-bottom: 90px;
}



.service-details {
    position: relative;
    padding-bottom: 120px;
}
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.service-sidebar .categori-widget {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 41px 50px 50px 50px;
    margin-bottom: 30px;
}
.default-sidebar .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.default-sidebar .widget-title h4 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 5px;
}
.default-sidebar .widget-title h4:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
}
.default-sidebar .widget-title h4:before {
    background: #cc5e28;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.service-sidebar .categori-widget .categori-list li {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.service-sidebar .advise-widget .inner-box {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 50px 54px 50px;
}
.centred {
    text-align: center;
}
.service-sidebar .advise-widget .inner-box:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.9;
}
.service-sidebar .advise-widget .inner-box:before {
    background: #cc5e28;
}
.service-sidebar .advise-widget .inner-box .icon-box {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    line-height: 125px;
    background: #2d2727;
    text-align: center;
    font-size: 60px;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 29px;
}
.flaticon-life-saver:before {
    content: "\f111";
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
.service-sidebar .advise-widget .inner-box h2 {
    display: block;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
    font-weight: 900;
}
.service-details-content .inner-box h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    padding-top: 20px;
    margin-bottom: 33px;
}
.service-details-content .inner-box .text p {
    margin-bottom: 34px;
}
p {
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    color: #716868;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;
 text-align: justify;
}
.service-details-content .inner-box .two-column {
    position: relative;
    margin-top: 53px;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.service-details-content .inner-box h3 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    margin-bottom: 36px;
}
.service-details-content .inner-box h4 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 35px;
}
.service-details-content .inner-box h4 {
    color: #cc5e28;
}
.service-details-content .inner-box .two-column .list li {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 34px;
    font-weight: 600;
    padding-left: 32px;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.service-sidebar .categori-widget {
    position: relative;
    display: block;
    background: #f5f0f0;
    padding: 41px 50px 50px 50px;
    margin-bottom: 30px;
}

element.style {
}
.default-sidebar .widget-title {
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.default-sidebar .widget-title h4 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 5px;
}
.default-sidebar .widget-title h4:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
}
.default-sidebar .widget-title h4:before {
    background: #cc5e28;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.service-sidebar .categori-widget .categori-list li a {
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 16px;
    color: #706767;
    line-height: 26px;
    font-weight: 600;
    background: #fff;
    padding: 9px 30px;
    z-index: 1;
}
.service-sidebar .categori-widget .categori-list li a:hover {
    position: relative;
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 26px;
    font-weight: 600;
    background:  #cc5e28;
    padding: 9px 30px;
    z-index: 1;
    text-decoration: none;
}


@media only screen and (max-width: 991px){
.service-sidebar {
    margin-bottom: 30px;
}}
.service-sidebar .categori-widget .categori-list li a.active, .service-sidebar .categori-widget .categori-list li a:hover {
    color: #fff;
    background-color: #cc5e28;
}
.service-sidebar .categori-widget .categori-list li a {
    position: relative;
    display: block;
    font-size: 16px;
    color: #706767;
    line-height: 26px;
    font-weight: 600;
    background: #fff;
    padding: 9px 30px;
    z-index: 1;
}
@media only screen and (max-width: 767px){
.two-column .image-box {
    margin-bottom: 30px;
}}
.service-details-content .image-box img {
    width: 100%;
}